# Configuration logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# Configuration store data.
storage:
  dbPath: /data
  journal:
    enabled: true

# How the process runs
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid

# Security configuration
security:
  authorization: enabled
  keyFile: /data/mongo_security.key
  transitionToAuth: true

# Network interfaces
net:
  port: {{ replica_set_port }}
  bindIp: 0.0.0.0

# Type sharding cluster: configsvr/shardsvr
sharding:
  clusterRole: {{ cluster_role }}

# ReplicaSet configuration
replication:
  replSetName: "{{ replica_set_name }}"